//DOLORS
$color-primary: #b96eee;
$color-primary-light: #e6d5f2;
$color-primary-dark: #a531f6;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #00c5ff;
$color-tertiary-dark: #3053ff;

$color-forth-light: #f473e8;
$color-forth-dark: #76066c;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 200rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 12rem;

//BORDER
$border-radius-size: 5rem;

//GAP
$samll_gap: 10rem;


//my Face
$myface : '../img/friendsList/Peng.png';
