//DOLORS
$color-primary: #b96eee;
$color-primary-light: #e6d5f2;
$color-primary-dark: #a531f6;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 200rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 12rem;
